.app__work {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #131212;
  padding: 3rem;

  h2 {
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 3rem;
    text-align: center;
  }

  .work-description {
    font-size: 1.8rem;
    line-height: 1.8;
    color: var(--primary-color);
    text-align: center;
    max-width: 800px;
    margin-bottom: 5rem;
  }

  .app__work-content {
    width: 100%;
    height: 90rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;

    @media screen and (max-width: 1400px) {
      height: 220rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }

    @media screen and (max-width: 1300px) {
      gap: 3rem;
    }

    @media screen and (max-width: 700px) {
      height: auto;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: auto;
    }
  }

  @media screen and (max-width: 1400px) {
    padding: 6rem 4rem;

    h2 {
      font-size: 4.5rem;
      margin-bottom: 2.5rem;
    }

    .work-description {
      font-size: 1.7rem;
      margin-bottom: 4rem;
    }
  }

  @media screen and (max-width: 900px) {
    padding: 5rem 3rem;

    h2 {
      font-size: 4rem;
      margin-bottom: 2rem;
    }

    .work-description {
      font-size: 1.6rem;
      margin-bottom: 3rem;
    }
  }

  @media screen and (max-width: 700px) {
    padding: 4rem 2rem;

    h2 {
      font-size: 3.5rem;
      margin-bottom: 2rem;
    }

    .work-description {
      font-size: 1.5rem;
      margin-bottom: 2.5rem;
    }
  }

  @media screen and (max-width: 500px) {
    padding: 3rem 1.5rem;

    h2 {
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }

    .work-description {
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }
  }

  .img-wrap {
    position: relative;
    // border: 2px solid white;
    overflow: hidden;

    .img-text {
      color: white;
      position: absolute;
      z-index: 20;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      opacity: 0;
      padding: 0 4rem;
      transition: all .3s;

      .title {
        font-size: 3rem;
        margin-bottom: 2rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
      }

      .desc {
        font-size: 1.8rem;
        text-align: center;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 1/1;
      filter: brightness(90%);
      transition: all 0.3s;

      // &:hover {
      //   transform: scale(0.98);
      //   filter: brightness(90%);

      // }
    }

    &:hover {
      & img {
        transform: scale(0.98);
        filter: brightness(30%);
      }

      & .img-text {
        opacity: 1;
      }
    }
  }
}
