.app__about {
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(
      150deg,
      rgba(0, 0, 0, 0.706) 0%,
      rgba(0, 0, 0, 0.89) 51%
    ),
    url("../../assets/about/warsztat.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;

  .wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  h2 {
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-top: 5rem;
    color: #ffffffda;

    @media screen and (max-width: 1900px) {
      font-size: 6rem;
      margin: 2rem 0;
    }

    @media screen and (max-width: 600px) {
      font-size: 5rem;
    }
  }

  &-content {
    display: flex;
    align-items: center;
    height: fit-content;

    @media screen and (max-width: 1600px) {
      flex-direction: column;
    }
  }

  &-profile {
    width: 50%;
    position: relative;
    height: 60%;

    img {
      width: 100%;
      object-fit: contain;
      height: 100%;
    }

    .profile-badge {
      text-align: center;
      color: rgb(31, 31, 31);
      font-weight: bold;
      text-transform: uppercase;
      position: absolute;
      text-wrap: nowrap;
      left: 66%;
      bottom: -8%;
      transform: translate(-50%, 0%);
      font-size: 2.5rem;
      width: fit-content;
      padding: 2rem 4rem;
      background-color: var(--secondary-color);

      @media screen and (max-width: 1400px) {
        padding: 1rem 4rem;
      }

      @media screen and (max-width: 900px) {
        left: 60%;
        font-size: 2rem;
        padding: 1rem 4rem;
      }

      @media screen and (max-width: 600px) {
        left: 50%;
        font-size: 2rem;
        padding: 1rem 4rem;
      }

      @media screen and (max-width: 450px) {
        font-size: 2rem;
        padding: 1rem;
      }
    }

    @media screen and (max-width: 900px) {
      width: 60%;
    }

    @media screen and (max-width: 600px) {
      width: 70%;
    }
  }

  &-text {
    color: var(--primary-color);
    width: 45%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    margin: 8rem;

    p {
      line-height: 1.4;
      font-size: 2.2rem;
      margin-bottom: 2.5rem;

      @media screen and (max-width: 1900px) {
        font-size: 2rem;
      }

      @media screen and (max-width: 1400px) {
        font-size: 1.8rem;
      }

      @media screen and (max-width: 900px) {
        font-size: 1.6rem;
        line-height: 1.2;
      }

      @media screen and (max-width: 600px) {
        margin-bottom: 4rem;
      }
    }

    @media screen and (max-width: 1600px) {
      margin: 10rem 0;
      width: 90%;
    }

    @media screen and (max-width: 1400px) {
      width: 80%;
    }

    @media screen and (max-width: 900px) {
      margin: 10rem 0 5rem;
    }

    @media screen and (max-width: 600px) {
      width: 85%;
      margin: 7rem 0 5rem;
    }
  }
}
