.background {
  width: 100%;
}

.app__contact {
  background-color: #2b2b2b;
  width: 100%;
  height: 70rem;
  display: flex;

  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .map {
    width: 50%;
    height: 100%;

    @media screen and (max-width: 1300px) {
      width: 100%;
    }
  }

  &-info {
    color: var(--primary-color);
    min-height: 100%;
    flex: 1;
    padding: 4rem 10rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 4rem;

    
    .loading {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }

    .cta {
      display: flex;
      align-items: center;

      .text {
        flex: 1;
        h2 {
          font-size: 4.5rem;
        }

        p {
          font-size: 2rem;
          color: #9b9b9b;
        }

        @media screen and (max-width: 1800px) {
          margin-bottom: 4.5rem;
        }

        @media screen and (max-width: 1300px) {
          margin-bottom: 3rem;
        }
      }

      .contact-details {
        flex: 1;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        div {
          display: flex;
          align-items: flex-start;
          padding: 0.5rem 0;
          align-items: center;
          gap: 1rem;

          @media screen and (max-width: 500px) {
            padding: 0.7rem 0;
          }
        }

        svg {
          color: var(--secondary-color);
          margin-right: 1rem;
          font-size: 2.5rem;
          flex-shrink: 0;
          margin-top: 0.2rem;

          @media screen and (max-width: 500px) {
            font-size: 2.5rem;
          }
        }

        @media screen and (max-width: 1300px) {
          margin-bottom: 3.5rem;
        }

        @media screen and (max-width: 500px) {
          line-height: 1.6;
        }
      }

      @media screen and (max-width: 1800px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .form {
      flex: 1;
      display: flex;
      flex-direction: column;
      min-height: 0;

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        input,
        textarea,
        button {
          background-color: transparent;
          border: 2px solid #585858;
          margin-bottom: 2rem;
          border-radius: 3px;
        }

        input,
        textarea {
          padding: 1rem;
          font-size: 2rem;
          color: var(--primary-color);
          font-family: var(--font-base);
          width: 100%;

          &::placeholder {
            color: #858585;
            opacity: 1;
          }

          &::-ms-input-placeholder {
            color: #858585;
          }
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
          -webkit-background-clip: text;
          -webkit-text-fill-color: var(--primary-color);
        }

        label {
          font-size: 2rem;
        }

        textarea {
          resize: none;
        }

        button {
          color: #9b9b9b;
          width: fit-content;
          font-size: 2rem;
          padding: 1rem 8rem;
          transition: all 0.2s;
          margin-top: 2rem;

          &:hover {
            cursor: pointer;
            color: #131313;
            background-color: var(--secondary-color);
            border: 2px solid var(--secondary-color);
          }
        }
      }
    }

    .form-info {
      margin-top: 10rem;
      height: 100%;

      .title {
        font-size: 4rem;
        font-weight: bold;
        margin-bottom: 3rem;

        @media screen and (max-width: 1300px) {
          text-align: center;
        }
      }

      .desc {
        font-size: 2.5rem;
        color: #c2c2c2;
      }

      @media screen and (max-width: 1300px) {
        margin: 0;
        margin-bottom: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .send-again {
      font-size: 2.5rem;
      padding: 1rem 6rem;
      background-color: transparent;
      color: var(--primary-color);
      border: 2px solid #9b9b9b;
      width: fit-content;
      margin: 0 auto;
      margin-bottom: 2rem;
      border-radius: 3px;
      transition: all 0.2s;

      &:hover {
        cursor: pointer;
        color: #131313;
        background-color: var(--secondary-color);
        border: 2px solid var(--secondary-color);
      }
    }

    @media screen and (max-width: 1300px) {
      min-height: auto;
      padding-bottom: 4rem;
    }

    @media screen and (max-width: 700px) {
      padding: 2rem 4rem 4rem;
    }

    @media screen and (max-width: 500px) {
      padding: 2rem 2rem 4rem;
    }
  }

  @media screen and (max-width: 1800px) {
    min-height: 85rem;
    height: auto;
  }

  @media screen and (max-width: 1300px) {
    min-height: auto;
    height: auto;
    flex-direction: column;
  }
}
