.app__navbar {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  position: fixed;
  font-size: 1.7rem;
  width: 100%;
  z-index: 60;
  background-color: rgba($color: #000000, $alpha: 0.85);
  transition: 0.5s;

  @media screen and (max-width: 450px) {
    padding: 0 2rem;
  }

  @media screen and (max-width: 350px) {
    padding: 0 1.5rem;
  }

  .navbar-logo {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s;

    .logo-first {
      color: var(--secondary-color);
      transition: all 0.2s;
    }

    .logo-second {
      color: var(--primary-color);
      transition: all 0.2s;
    }

    &:hover {
      .logo-first,
      .logo-second {
        opacity: 0.8;
      }
    }

    @media screen and (max-width: 1300px) {
      font-size: 1.8rem;
    }

    @media screen and (max-width: 900px) {
      font-size: 1.6rem;
    }

    @media screen and (max-width: 450px) {
      font-size: 1.4rem;
      gap: 0.4rem;
    }

    @media screen and (max-width: 350px) {
      font-size: 1.2rem;
      gap: 0.3rem;
    }
  }




  .nav {
    display: flex;
    justify-content: flex-end;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 3rem;
  
      @media screen and (max-width: 900px) {
        display: none;
      }
    }
  }

  

  &-button {
    position: fixed;
    padding-top: 1px;
    right: 10px;
    margin: 20px;
    z-index: 9;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--bg-light2-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 900px) {
      display: none;
    }

    @media screen and (max-width: 500px) {
      width: 4rem;
      height: 4rem;
    }

    @media screen and (max-width: 450px) {
      right: 5px;
      margin: 15px;
    }

    @media screen and (max-width: 350px) {
      right: 5px;
      margin: 10px;
      width: 3.5rem;
      height: 3.5rem;
    }
  }

  &-burger {
    width: 55%;
    display: block;
    height: 2px;
    background-color: white;
    transition: all 0.2s;
    &::after,
    &::before {
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      margin: auto;
      background-color: white;
      position: relative;
      transition: transform 0.3s;
    }

    &::after {
      top: -10px;
    }

    &::before {
      top: 8px;
    }

    @media screen and (max-width: 500px) {
      &::after {
        top: -9px;
      }

      &::before {
        top: 7px;
      }
    }
  }

  &-menu {
    height: 100vh;
    width: 50%;
    background-color: rgb(41, 41, 41);
    z-index: 10;
    position: fixed;
    right: 0;
    top: 0;
    color: white;
    display: flex;

    @media screen and (min-width: 900px) {
      display: none;
    }

    @media screen and (max-width: 700px) {
      width: 60%;
    }

    @media screen and (max-width: 500px) {
      width: 100%;
    }
  }

  &-body {
    box-sizing: border-box;
    margin: 20rem auto;
    height: 30%;
    display: flex;

    @media screen and (max-width: 700px) {
      margin: 17rem auto;
    }
  }

  &-backdrop {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(49, 49, 49, 0.64);

    @media screen and (min-width: 900px) {
      display: none;
    }
  }

  &-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  &-li {
    list-style: none;
    font-weight: 500;
    transition: all 0.2s;
    transition-delay: 0.15s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 3rem;

    @media screen and (max-width: 700px) {
      font-size: 2.5rem;
    }

    a {
      margin: 3rem 0;
      text-decoration: none;
      color: rgb(238, 238, 238);
      text-transform: uppercase;
      transition: all 0.2s;

      @media screen and (max-width: 700px) {
        margin: 3rem 0;
      }
    }
  }

  &-header {
    color: rgb(153, 153, 153);
    border-bottom: 1px solid rgb(153, 153, 153);
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .active {
    background-color: transparent;

    &::after {
      transform: rotate(45deg);
      top: -2px;
    }

    &::before {
      transform: rotate(-45deg);
      top: 0px;
    }
  }

  &-link {
    list-style: none;
    font-weight: 500;
    transition: all 0.2s;
    transition-delay: 0.15s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    a {
      text-decoration: none;
      color: rgb(238, 238, 238);
      text-transform: uppercase;
      transition: all 0.2s;
    }

    div {
      margin-top: 2px;
      width: 0%;
      height: 1px;
      background-color: transparent;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      a {
        color: var(--secondary-color);
      }

      div {
        width: 100%;
        background-color: var(--secondary-color);
      }
    }
  }
  .active {
    a {
      color: var(--secondary-color);
    }
    div {
      width: 100%;
      background-color: var(--secondary-color);
    }
  }
}

.opacity {
  background-color: transparent;
}
