.app__header {
  flex: 1;
  min-height: 90rem;
  width: 100%;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  align-content: start;
  padding: 10rem 5rem 0;
  overflow: hidden;

  position: relative;
  background-color: black;
  background-image: url("../../assets/header/background2.jpg");
  background-position: center;
  background-size: cover;

  &-overlay {
    margin: 0;
    height: 130%;
    width: 130%;
    position: absolute;
    background-color: transparent;
    background-image: linear-gradient(
      150deg,
      rgba(0, 0, 0, 0.856) 0%,
      rgba(0, 0, 0, 0.874) 10%,
      rgba(0, 0, 0, 0.99) 51%
    );
    opacity: 1;
  }

  &-info {
    flex: 0.8;
    margin-top: 5rem;
    z-index: 2;
    margin-left: 6rem;

    .info-title {
      font-size: 6rem;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 1rem;
      color: var(--primary-color);
    }

    span {
      color: var(--secondary-color);
      font-size: 2.2rem;
      display: block;
      margin-bottom: 2rem;
    }

    .info-desc {
      font-size: 2rem;
      width: 90%;
      color: var(--primary-color);
    }

    .info-cta {
      margin-top: 3rem;

      .motto {
        color: var(--secondary-color);
        font-size: 2rem;
        height: 1rem;
        width: 20rem;
        // font-weight: bold;
        text-transform: uppercase;
        border-bottom: 4px solid var(--secondary-color);
      }

      button {
        font-size: 2rem;
        border: 2px solid var(--secondary-color);
        padding: 1.2rem 2.4rem;
        border-radius: 0.4em;
        background-color: transparent;
        color: var(--primary-color);
        transition: all 0.3s;
        box-shadow: 0 5px 25px 2px #3d3d3d22;

        &:hover {
          cursor: pointer;
          background-color: var(--secondary-color);
          color: black;
        }
      }

      .info-contact {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;

        div {
          display: flex;
          align-items: center;
          height: 5rem;
          font-size: 2rem;
          color: var(--primary-color);
        }

        svg {
          font-size: 2.4rem;
          margin-right: 1rem;
          color: var(--secondary-color);
        }
      }
    }
  }

  &-profile {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    .profile-background {
      margin-top: 10rem;
      margin-left: 6rem;
      z-index: 0;
      height: 45rem;
      filter: invert(72%) sepia(27%) saturate(1746%) hue-rotate(4deg)
        brightness(95%) contrast(82%);
    }

    .profile-photo {
      height: 60rem;
      position: absolute;
      object-fit: contain;
      z-index: 4;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);

      @media screen and (max-width: 500px) {
        // margin-top: 3rem;
        
      }
    }

    .fade {
      position: absolute;
      bottom: 0;
      z-index: 4;
      background-color: transparent;
      width: 60%;
      height: 4rem;
      background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 30%,
        rgba(0, 0, 0, 0.977) 100%
      );
    }
  }

  @media screen and (max-width: 1600px) {
    flex-direction: column;

    &-info {
      order: 2;
      width: 80%;
      margin: 6rem auto 7rem;
    }

    &-profile {
      margin: 6rem 0 3rem;
      order: 1;
    }
  }

  @media screen and (max-width: 1300px) {
    &-info {
      flex: 0.8;
      margin-top: 2rem;

      .info-title {
        font-size: 6rem;
        margin: 2rem 0;
      }

      span {
        font-size: 2.2rem;
        margin-bottom: 2rem;
      }

      .info-desc {
        font-size: 2rem;
        width: 90%;
      }

      .info-cta {
        margin-top: 3rem;

        .info-contact {
          margin-top: 3rem;

          div {
            height: 5rem;
            font-size: 2rem;
          }

          svg {
            font-size: 2.4rem;
            margin-right: 1rem;
          }
        }
      }
    }

    &-profile {
      .profile-background {
        margin-top: 10rem;
        margin-left: 6rem;
        height: 35rem;
      }

      .profile-photo {
        height: 50rem;
      }
    }
  }

  @media screen and (max-width: 900px) {
    .info-title {
      font-size: 5rem;
    }

    .info-desc {
      font-size: 1.8rem;
    }

    &-profile {
      .profile-background {
        margin-top: 10rem;
        margin-left: 2rem;
        z-index: 0;
        height: 30rem;
        filter: invert(72%) sepia(27%) saturate(1746%) hue-rotate(4deg)
          brightness(95%) contrast(82%);
      }

      .profile-photo {
        height: 45rem;
        position: absolute;
        object-fit: contain;
        z-index: 4;
      }
    }
  }

  @media screen and (max-width: 700px) {
    &-info {
      span {
        font-size: 1.8rem;
      }
    }

    .info-title {
      font-size: 4rem;
    }

    .info-desc {
      font-size: 1.6rem;
    }

    &-profile {
      .profile-background {
        margin-top: 7rem;
        margin-left: 2rem;
        z-index: 0;
        height: 28rem;
      }

      .profile-photo {
        height: 39rem;
        position: absolute;
        object-fit: contain;
        z-index: 4;
      }
    }
  }

  @media screen and (max-width: 500px) {
    padding: 10rem 0 4rem;

    &-info {
      margin: 0;
    }

    .info-title {
      margin-top: 1rem;
    }

    &-profile {
      margin: 8rem 0 2rem;

      .profile-background {
        margin-top: 5rem;
        z-index: 0;
        height: 18rem;
      }

      .profile-photo {
        height: 30rem;
        position: absolute;
        object-fit: contain;
        z-index: 4;
      }
    }
  }
}
