.app__header {
  flex: 1;
  min-height: 90rem;
  width: 100%;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  align-content: start;
  padding: 10rem 5rem 0;
  overflow: hidden;

  position: relative;
  background-color: black;
  background-image: url("../../assets/header/background2.jpg");
  background-position: center;
  background-size: cover;

  &-overlay {
    margin: 0;
    height: 130%;
    width: 130%;
    position: absolute;
    background-color: transparent;
    background-image: linear-gradient(
      150deg,
      rgba(0, 0, 0, 0.856) 0%,
      rgba(0, 0, 0, 0.874) 10%,
      rgba(0, 0, 0, 0.99) 51%
    );
    opacity: 1;
  }

  &-info {
    flex: 0.7;
    z-index: 2;
    margin-right: 10rem;
    .info-title {
      font-size: clamp(3rem, 5vw, 6rem);
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 1.5rem;
      color: var(--primary-color);
    }

    .info-slogan {
      color: var(--secondary-color);
      font-size: clamp(1.6rem, 2.2vw, 2.4rem);
      font-weight: 500;
      margin-bottom: 3rem;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }

    .info-desc {
      font-size: clamp(1.4rem, 1.8vw, 2rem);
      color: var(--primary-color);
      line-height: 1.6;
    }
  }

  &-profile {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    .profile-background {
      margin-top: 10rem;
      margin-left: 6rem;
      z-index: 0;
      max-height: 40rem;
      height: 20vw;
      filter: invert(72%) sepia(27%) saturate(1746%) hue-rotate(4deg)
        brightness(95%) contrast(82%);
    }

    .profile-photo {
      height: 30vw;
      max-height: 60rem;
      position: absolute;
      object-fit: contain;
      z-index: 4;
    }

    .fade {
      position: absolute;
      bottom: 0;
      z-index: 4;
      background-color: transparent;
      width: 90%;
      height: 4rem;
      background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 30%,
        rgba(0, 0, 0, 0.977) 100%
      );
    }
  }

  @media screen and (max-width: 1600px) {
    &-info {
      margin-right: 5rem;
      
      .info-title {
        font-size: clamp(4rem, 4.5vw, 5.5rem);
      }

      .info-slogan {
        font-size: clamp(1.8rem, 2vw, 2.2rem);
      }

      .info-desc {
        font-size: clamp(1.6rem, 1.7vw, 1.9rem);
      }
    }
  }

  @media screen and (max-width: 1500px) {
    &-info {
      margin-right: 4rem;
      
      .info-title {
        font-size: clamp(3.2rem, 4vw, 4.5rem);
      }

      .info-slogan {
        font-size: clamp(1.5rem, 1.8vw, 2rem);
      }

      .info-desc {
        font-size: clamp(1.4rem, 1.6vw, 1.7rem);
      }
    }
  }

  @media screen and (max-width: 1300px) {
    flex-direction: column;

    &-info {
      flex: 0.8;
      margin-top: 2rem;
      text-align: center;
      order: 2;
      width: 85%;
      margin: 6rem auto 7rem;
      margin-right: 0;

      .info-title {
        font-size: clamp(3.5rem, 8vw, 5.5rem);
        margin: 2rem 0;
      }

      .info-slogan {
        font-size: clamp(1.6rem, 3.5vw, 2.2rem);
        margin-bottom: 2.5rem;
      }

      .info-desc {
        font-size: clamp(1.4rem, 2.5vw, 1.8rem);
      }
    }

    &-profile {
      margin: 6rem 0 3rem;
      order: 1;

      .profile-background {
        margin-top: 10rem;
        margin-left: 6rem;
        height: 35rem;
      }

      .profile-photo {
        height: 50rem;
      }
    }
  }

  @media screen and (max-width: 900px) {
    &-info {
      width: 90%;

      .info-title {
        font-size: clamp(3rem, 7vw, 4.5rem);
      }

      .info-slogan {
        font-size: clamp(1.5rem, 3vw, 2rem);
        margin-bottom: 2rem;
      }

      .info-desc {
        font-size: clamp(1.3rem, 2.2vw, 1.7rem);
      }
    }

    &-profile {
      .profile-background {
        margin-top: 10rem;
        margin-left: 2rem;
        z-index: 0;
        height: 30rem;
        filter: invert(72%) sepia(27%) saturate(1746%) hue-rotate(4deg)
          brightness(95%) contrast(82%);
      }

      .profile-photo {
        height: 45rem;
        position: absolute;
        object-fit: contain;
        z-index: 4;
      }
    }
  }

  @media screen and (max-width: 700px) {
    padding: 8rem 2rem 0;

    &-info {
      width: 95%;
      margin: 4rem auto 5rem;

      .info-title {
        font-size: clamp(2.5rem, 6vw, 3.5rem);
        margin: 1.5rem 0;
      }

      .info-slogan {
        font-size: clamp(1.3rem, 2.8vw, 1.7rem);
        margin-bottom: 1.5rem;
      }

      .info-desc {
        font-size: clamp(1.2rem, 2vw, 1.5rem);
        line-height: 1.5;
      }
    }

    &-profile {
      margin: 4rem 0 2rem;

      .profile-background {
        margin-top: 7rem;
        margin-left: 2rem;
        z-index: 0;
        height: 28rem;
      }

      .profile-photo {
        height: 39rem;
        position: absolute;
        object-fit: contain;
        z-index: 4;
      }
    }
  }

  @media screen and (max-width: 500px) {
    padding: 6rem 1rem 3rem;
    min-height: auto;

    &-info {
      width: 100%;
      margin: 2rem auto 3rem;
      padding: 0 1rem;

      .info-title {
        font-size: clamp(2rem, 5vw, 2.8rem);
        margin: 1rem 0;
      }

      .info-slogan {
        font-size: clamp(1.1rem, 2.5vw, 1.4rem);
        margin-bottom: 1.5rem;
        letter-spacing: 0.05em;
      }

      .info-desc {
        font-size: clamp(1rem, 1.8vw, 1.3rem);
        line-height: 1.4;
      }
    }

    &-profile {
      margin: 4rem 0 2rem;

      .profile-background {
        margin-top: 5rem;
        z-index: 0;
        height: 18rem;
      }

      .profile-photo {
        height: 30rem;
        position: absolute;
        object-fit: contain;
        z-index: 4;
      }
    }
  }
}
